---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import Content from '@components/Content.astro';

export const tracks = ['core', 'manager'] as const;

export async function getStaticPaths() {
  return tracks.map((track) => ({ params: { track } }));
}

type Track = (typeof tracks)[number];

interface Params {
  track: Track;
}

const { track } = Astro.params as Params;

const rubrics = await getCollection(`${track}Rubrics`);
rubrics.sort((a, b) => (a.data.level < b.data.level ? -1 : 1));

const allCapabilities = await getCollection('capabilities');
const capabilities = allCapabilities.filter((c) => c.data.id.startsWith(track)).map((c) => c.data);

const trackTitle = track.charAt(0).toUpperCase() + track.slice(1);
---

<Layout title={`${trackTitle} Capabilities`} description={'TODO'}>
  <Content>
    <h1>{trackTitle} Capabilities</h1>
    {
      capabilities.map((capability) => (
        <div class="border-b border-stone-200 pb-8">
          <h2>
            <a name={capability.id.split('-')[1]} />
            {capability.title}
          </h2>
          <p>{capability.description}</p>
          <dl>
            {rubrics.map((rubric) => (
              <>
                <dt>{rubric.data.level}</dt>
                <dd>{rubric.data.expectations[capability.id.split('-')[1]].meets}</dd>
              </>
            ))}
          </dl>
        </div>
      ))
    }
  </Content>
</Layout>
